<h2>Conformance</h2>
<p>
    As well as sections marked as non-normative, all authoring guidelines, diagrams, examples,
    implementation notes,
    and notes in this specification are non-normative. Everything else in this specification is
    normative.
</p>
<p>
    The key words MUST, MUST NOT, REQUIRED, SHOULD, SHOULD NOT, RECOMMENDED,
    and OPTIONAL in this specification are to be interpreted as described in [[!RFC2119]].
</p>
<p>
    The key words SHALL, SHALL NOT, NOT RECOMMENDED, STRONGLY RECOMMENDED,
    NOT RECOMMENDED, STRONGLY NOT RECOMMENDED, INDEPENDENTLY OPTIONAL, PERMITTED,
    and NOT PERMITTED are also used by PCISIG specifications.
</p>
<p>
    The term <em class="rfc2119">MAY</em> is described in [[!RFC2119]].
    Experience has found this term to be confusing so and it is not used by PCISIG specifications.
</p>
